.button{
    background: #fff;
    cursor: pointer;
    padding: 5px 20px;
    color: #000;
    font-family: Jost;
    font-size: 24px;
    border-radius: 30px;
    font-weight: 400;
    width: 300px;
    transition: 100ms cubic-bezier(0.215, 0.610, 0.355, 1);
    margin-top: 100px;
}
.button:active{
    font-weight: 900;
}

.body{
    padding-top: 65px;
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

*{
    color: #fff;
    font-family: Inter;
}

@font-face {
    font-family: Inter;
    src: url(/fonts/Inter.ttf);
}
@font-face {
    font-family: Jost;
    src: url(/fonts/Jost.ttf);
}