.body-content{
    padding-top: 65px;
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome-text{
    text-align: center;
    margin-top: 50px;
    font-family: Jost;
    font-size: 40px;
    font-weight: 700;
}
.welcome-text-circled{
    font-family: Jost;
    font-weight: 900;
    background: #fff;
    border-radius: 20px;
    padding: 2px 10px;
    color: #000;
}
.welcome-text-smaller{
    font-family: Jost;
    font-size: 30px;
    font-weight: 500;
}

.wmax{
    width: 100%;
}

.welcome-button{
    width: 400px;
    padding: 0px 30px;
    margin-top: 30px;
    margin-bottom: 100px;
    color: #000;
    background: #fff;
    cursor: pointer;
    border-radius: 15px;
    gap: 20px;
    font-family: Jost;
    font-weight: 400;
    font-size: 30px;
    transition: 100ms ease;
    border: 5px solid #fff;
}
.welcome-button:active{
    scale: 0.95;
    font-weight: 900;
}

.welcome-languages{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 40px;
}

.welcome-icons{
    position: absolute;
    top: 328px;
    gap: 20px;
    display: flex;
}

.welcome-br1{
    display: none;
}

@media only screen and (max-width: 1000px){
    .welcome-br1{
        display: block;
    }

    .welcome-icons{
        top: 390px;
    }
}

a{
    text-decoration: none;
}

body{
    background: #000;
    background-size: cover;
}
 
*{
    color: #fff;
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    font-family: Inter;
}

@font-face {
    font-family: Inter;
    src: url(/fonts/Inter.ttf);
}
@font-face {
    font-family: Jost;
    src: url(/fonts/Jost.ttf);
}

.block {
  width: 400px;
  height: 150px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.tooltip:before,
.tooltip:after {
  display: block;
  position: absolute;
  visibility: hidden;
  opacity: 0; 
  margin-bottom: 15px;
  transition: opacity .7s, margin-bottom .7s;
  left: 50%;
}

.tooltip {
  color: #1f8b8a;
  border-bottom: 1px dashed #1f8b8a;
  position: relative;
  cursor: pointer;
  
}

.tooltip:before {
  bottom: 30px;
  left: 50%;
  padding: 10px;
  width: 200px;
  margin-left: -100px;
  color: white;
  background-color: rgba(0,0,0,.85);
  content: attr(data-title);
  border-radius: 5px;
  box-shadow: border-box;
  text-align: center;
}

.tooltip:after {
  content: "";
  border-top: 10px solid rgba(0,0,0,.85);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  bottom: 20px;
  margin-left: -10px;
}

.tooltip:hover:before,
.tooltip:hover:after {
  opacity: 1;
  margin-bottom: 0;
  visibility: visible;
}